.verify-email-container {
  height: 100vh;

  .infor-booking {
    font-size: 24px;
    font-weight: 600;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #ff0000;
  }
}
