.avatar-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  padding: 0 15px;
  height: 36px;
  font-size: 13px;
  border-radius: 10px;
  border-color: #5b6fa3;
  // color: #5b6fa3;
}
