.custom-sidebar {
  width: 350px;
  position: fixed;
  height: 100vh;
  top: 60px;
  background: #fff;
  left: 0;
  padding: 30px;
}

.custom-box-shadow {
  box-shadow: 0px 16px red;
}

.breadcrumb-bg {
  background-color: unset !important;
}
